version: '3'

volumes:
  prometheus_data:
  grafana_data:

services:
  prometheus:
    container_name: prometheus
    hostname: prometheus
    image: {{ registry }}/prometheus:v2.34.0
    user: root #1000:1000
    expose:
      - 9090
    ports:
      - '9090:9090'
    volumes:
      - prometheus_data:/prometheus
      - {{ prometheus_path }}:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    restart: unless-stopped

  grafana:
      container_name: grafana
      hostname: grafana
      image: {{ registry }}/grafana:8.4.4
      user: "0"
      depends_on:
        - prometheus
      expose:
        - 3000
      ports:
        - '3000:3000'
      volumes:
        - grafana_data:/var/lib/grafana
        - {{ grafana_path }}/provisioning/dashboards:/etc/grafana/provisioning/dashboards
        - {{ grafana_path }}/provisioning/datasources:/etc/grafana/provisioning/datasources
      links:
        - prometheus
      environment:
        - GF_SECURITY_ADMIN_USER={{ grafana_username }}
        - GF_SECURITY_ADMIN_PASSWORD={{ grafana_password }}
        - GF_USERS_ALLOW_SIGN_UP=false
        - GF_SMTP_ENABLED=true
        - GF_SMTP_HOST=smtp.gmail.com:587
        - GF_SMTP_USER={{ email }}
        - GF_SMTP_PASSWORD={{ password }}
        - GF_SMTP_FROM_ADDRESS={{ email }}
      restart: unless-stopped

  alertmanager:
    container_name: alertmanager
    hostname: alertmanager
    image: {{ registry }}/alertmanager:v0.24.0-rc.0
    user: root
    ports:
      - '9093:9093'
    expose:
      - 9093
    volumes:
      - {{ alertmanager_path }}:/etc/alertmanager
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--storage.path=/alertmanager'
    restart: unless-stopped
