apiVersion: 1

datasources:
- name: prometheusdata
  type: prometheus
  access: proxy
  orgId: 1
  url: "https://prometheus.bukhara-chkh.ir/"
  user: "{{grafana_username}}"
  secureJsonData:
    password: "{{grafana_password}}"
  isDefault: true
