version: '3'

services:
  wordpress:
    image: {{ registry }}/wordpress:5.1.1-fpm-alpine
    container_name: wordpress
    restart: unless-stopped
    environment:
      - WORDPRESS_DB_HOST={{ wordpress_db_host }}:3306
      - WORDPRESS_DB_USER={{ wordpress_username }}
      - WORDPRESS_DB_PASSWORD={{ wordpress_password }}
      - WORDPRESS_DB_NAME={{ worpresss_db }}
    volumes:
      - wordpress:/var/www/html

  nginx:
    depends_on:
      - wordpress
    image: {{ registry }}/nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 8080:8080
    volumes:
      - ./nginx/statics:/var/www/statics
      - ./nginx/conf.d:/etc/nginx/conf.d
      - wordpress:/var/www/html:rw,z

volumes:
  wordpress:
